.macro-wraper {
  position: relative;
}

.macro-title {
  position: absolute;
  padding: 2px 3px;
  cursor: pointer;
}

.macro-popup {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  border: 1px dashed #777;
  z-index: 99;
  -moz-box-shadow: 0px 2px 5px #333333;
  -webkit-box-shadow: 0px 2px 5px #333333;
  box-shadow: 0px 2px 5px #333333;
}

.macro-popup ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.macro-popup ul li {
  margin: 0;
  padding: 0;
  background: none;
}

.macro-popup ul li a {
  display: block;
  margin: 2px 0;
  padding: 2px 4px;
  text-decoration: none;
}

.macro-popup ul li a:hover {
  background-color: #666;
  color: #FFF;
  text-decoration: none;
}
